#main {
  margin-top: 40px;
}
.idx {
  font-weight: 400;
}
.meta {
  font-size: 10px;
}
.meta:not(:last-child) {
  margin-right: 20px;
}
article:nth-child(even) {
  background-color: #fafafa;
}
article:hover {
  background-color: #f5f5f5;
}
